#settingspanel {
    .pm-info {
        display: block;
        margin-bottom: 20px;
    }
    .pm-select {
        background-color: #fff;
    }
    .pm-add {
        align-items: stretch;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
    }
    .pm-add-btn {
        margin-left: 10px;
    }
    .pm-list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-top: 20px;
        &.dragging .pm-setting * {
            pointer-events: none;
        }
    }
    .pm-setting {
        align-items: center;
        border: 1px dashed transparent;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: 5px;
        transition: border-color 300ms ease;
        width: 50%;
        &.pm-drag-over {
            border-color: #000;
        }
    }
    $handle-width: 30px;
    .pm-setting-handle {
        cursor: move;
        font-size: 1.5em;
        width: $handle-width;
        &:before {
            content: '≡'
        }
    }
    .pm-setting-label {
        flex-basis: calc(100% - #{$handle-width});
    }
    .pm-bid,
    .pm-bin {
        align-self: stretch;
        width: 40%;
    }
    .pm-remove-btn {
        font-size: 1.4em;
        &:before {
            content: "\f11c";
            font-family: UltimateTeam-Icons;
        }
    }
    select,
    input {
        border-radius: 0;
        font-family: UltimateTeamCondensed,sans-serif;
        font-size: 1em;
        font-weight: 400;
        padding: 0 .5em;
    }
}
